<form [formGroup]="form" (ngSubmit)="resetPassword()">
  <div class="form-group mb-30">
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Please enter email" class="form-input" formControlName="email">
  </div>

  <div class="form-group mb-30">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Please enter password" class="form-input" formControlName="password">
  </div>

  <div class="form-group mb-30">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" placeholder="Please enter password" class="form-input" formControlName="confirmPassword">
  </div>

  <div class="form-group mb-30">
    <label for="code">Verification Code</label>
    <div class="w-full flex gap-x-10">
      <input id="code" class="form-input w-9/12" placeholder="Please enter the code" formControlName="code">
      <button type="button" class="btn btn-primary w-2/5" (click)="requestVerificationCode($event)">Get Code</button>
    </div>
  </div>
  <button class="btn btn-primary btn-full">Submit</button>
  <div class="text-center mt-50">
    <p class="text-light-500">Already have an account? <a class="text-blue-500" routerLink="/login">Login</a></p>
  </div>
</form>
