<form [formGroup]="form" (ngSubmit)="signup()">
  <div class="form-group mb-30">
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Please enter email" class="form-input" formControlName="email">
  </div>

  <div class="form-group mb-30">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Please enter password" class="form-input" formControlName="password">
  </div>

  <div class="form-group mb-30">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" placeholder="Please enter password" class="form-input" formControlName="confirmPassword">
  </div>

  <button class="btn btn-primary btn-full">Sign up</button>
</form>
